*{
    padding: 0;
}
.listItem{
    max-width: 100%;
    /* background-color: #282c34; */
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.li{
   padding: 10px 20px;
   border: 1px solid rgb(216, 216, 216);
   border-bottom: 2px solid rgb(87, 87, 87);
   list-style: none;
}
.color{
    background-color: chartreuse;
    padding: 10px 20px;
    border: 1px solid rgb(216, 216, 216);
    border-bottom: 2px solid rgb(87, 87, 87);
    list-style: none;
}
.span{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.num{
    margin-right: 50px;
}
.span button{
    margin-right: 5px;
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
}
.btn-z{
    max-width: 20px;
    border: none;
    visibility: hidden;
}
.hidden{
    max-width: 20px;
    border: none;
    visibility: visible;
}
.img{
    max-width: 100%;
}