*{
    box-sizing: border-box;
}
.search{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #282c34;
}
.search input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.search button{
    cursor: pointer;
    padding: 5px 10px;
    background: none;
    color: cornsilk;
}
.search button:hover{
    color: black;
    background-color: blanchedalmond;
}
/* ////////// */
.show{
    background-color: black;
    color: rgb(255, 240, 240);
  }